html, body {
  padding: 0;
  margin: 0;

  height: 100%;
  width: 100%;

  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */

  font-family: 'stolzl' sans-serif;
}

:root {
  --background-color: #ffffff;
  --background-color-alt: #f4f4f4;
  
  --font-color: #10162f;
}


@font-face {
  font-family:"stolzl";
  src:url("https://use.typekit.net/af/148b9c/00000000000000007735affe/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/148b9c/00000000000000007735affe/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/148b9c/00000000000000007735affe/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
  font-family:"stolzl";
  src:url("https://use.typekit.net/af/11d803/00000000000000007735b005/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/11d803/00000000000000007735b005/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/11d803/00000000000000007735b005/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
  font-family: "Apercu";
  src: url("../public/fonts/apercu/thin.woff2");

  font-display:auto;
  font-style:normal;
  font-weight:100;
}

@font-face {
  font-family: "Apercu";
  src: url("../public/fonts/apercu/extra-light.woff2");

  font-display:auto;
  font-style:normal;
  font-weight:200;
}

@font-face {
  font-family: "Apercu";
  src: url("../public/fonts/apercu/light.woff2");

  font-display:auto;
  font-style:normal;
  font-weight:300;
}

@font-face {
  font-family: "Apercu";
  src: url("../public/fonts/apercu/regular.woff2");

  font-display:auto;
  font-style:normal;
  font-weight:400;
}

@font-face {
  font-family: "Apercu";
  src: url("../public/fonts/apercu/bold.woff2");

  font-display:auto;
  font-style:normal;
  font-weight:600;
}

@font-face {
  font-family: "Apercu";
  src: url("../public/fonts/apercu/extra-bold.woff2");

  font-display:auto;
  font-style:normal;
  font-weight:800;
}

@font-face {
  font-family: "Apercu";
  src: url("../public/fonts/apercu/black.woff2");

  font-display:auto;
  font-style:normal;
  font-weight:900;
}

html,
      body,
      body > div:first-child,
      div#__next,
      div#__next > div,
      div#__next > div > div {
        height: 100%;
      }

a {
  color: inherit;
  text-decoration: none;
}

h5 {
  font-weight: 400;
}

h5 > a {
  color: #4F5DEA;
  font-weight: 700;
}

h6 {
  opacity: 0.3;
  font-size: .8em;
  font-weight: 400;

  text-align: center;
}

h3 {
  font-size: 1.3em;
  font-weight: 600;
}

p {
  opacity: 0.5;
  font-size: .9em;
}

input {
  background-color: transparent;
  border: none;

  font-weight: 100;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: .5; /* Firefox */
}

* {
  box-sizing: border-box;
  /* font-family: system-ui; */
  font-family: 'stolzl';
}

:hover {
  transition: .2s ease all;
}

a:hover {
  cursor: pointer;
}

div {
  transition: .2s ease all;
}

button {
  outline: none;

  transform: .2s ease all !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 9999s;
  -webkit-text-fill-color: #fff !important;
}

button:hover {
  cursor: pointer;
}

#editor {
  height: 100%;
  width: 100%;

  transition: 0s ease all;
}

#editor div {
  transition: 0s ease all;
}

.ace_editor {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important; 
}

.textEditor h5 {
  background-color: #011627;
  margin: 0;
  padding: 1rem;
  color: #f4f4f4;
}