.container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: auto !important;
  background-color: var(--background-color);
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 2px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerSpacing {
  padding: 1rem 0rem;
  width: 100%;
}

.footerSpacing * {
  width: 100%;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.authPage {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
}

.authPage svg {
  height: 1rem;
}

.flexLarge {
  flex: 1;

  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 5em;

  color: #f4f4f4;

  background: rgb(87,78,235);
  background: var(--gradient)
}

.authPage > div {
  height: 100%;
}

.flexLarge h1 {
  font-size: 4em;
}

.flexLarge p {
  flex: 1;
}

.authInput {
  min-width: fit-content;
  width: 33%;

  max-width: 500px;

  border-left: 5px solid #f4f4f4;

  padding: 3em;
  padding-top: 5em;
  padding-bottom: 5em;

  background-color: #1c1e21;
  color: #f4f4f4;

  background: rgb(28,30,33);
  background: linear-gradient(58deg, #1c1e21 0%, #0f1e34 35%, #1c1e21 100%);

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.authInput > div:first-of-type > form{
  display: flex;
  flex-direction: column;
  
  gap: 15px;
}

.authenticationInput {
  height: fit-content;

  padding: 10px;
  border-radius: 5px;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  font-size: 1em !important;

  border: 1.5px solid rgba(255,255,255,.1);
  background-color: rgba(255,255,255,.02);
}

.authenticationInput:hover {
  background-color: rgba(255,255,255,.05);
}

.authenticationInput input {
  width: 100%;
  padding: 5px;

  color: rgba(255,255,255,.8);

  outline: none;
}

.authenticationInput svg {
  margin-left: 5px;
  margin-right: 5px;

  padding: 2px;
  color: rgba(255,255,255,.2);
}

.activeAuthInput {
  color: rgba(255,255,255,.8);
  border-color: rgba(255,255,255,.4); /* 4F5DEA */

  background-color: rgba(255,255,255,.05);
}

.activeAuthInput svg {
  color: rgba(255,255,255,.8);
}

.idle {
  color: rgba(255,255,255,.8);
  background-color: rgba(255,255,255,.03);
}

.idle svg {
  color: rgba(255,255,255,.8);
}

.button {
  border-radius: 5px;
  border: none;

  padding: 15px;
  background-color: #5268f4; /* #3a4797;*/
  color: rgba(255,255,255,.8);
  font-weight: 600;
}

.hoverButton {
  background-color: #3f57f3;
  color: rgba(255,255,255,1);
  cursor: pointer;
}

.activeButton {
  background-color: #5268f4;
  color: rgba(255,255,255,.8);
}

.socialProfile {
  /* border: 1.5px solid rgba(255,255,255,.2); */
  color: rgba(255,255,255,.2);
  background-color: rgba(255,255,255,.02);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  border-radius: 50px;
  padding: 15px;

  font-size: 1.1em;

  width: 45%;
}

.socialProfile h5 {
  margin: 0;
  text-align: center;
  font-weight: 600;

  font-size: 15px;
}

.socialProfile:hover {
  /* 
  color: rgba(255,255,255,.6);
  border-color: rgba(255,255,255,.6);

  background-color: rgba(255,255,255,.05); 
  */

  color: #4F5DEA;
  border-color: transparent;
  background-color: rgba(79, 93, 234, .1);

  cursor: pointer;
}

.socialProfiles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.socialProfile svg {
  height: 1.2rem;
}

.backToHome:hover {
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;

  position: sticky;

  justify-content: center;
  align-items: center;
  width: 100%;

  color: var(--font-color);
  background-color: var(--background-color-alt);

  min-height: 4rem;
  height: fit-content !important;

  /* border-bottom: 1px solid var(--border-color); */
  
  border-bottom: 2px solid var(--border-color);
}

.header > div:not(:first-of-type) {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  max-width: calc(1440px + 12rem);

  height: 100%;
  width: 100%;

  padding: 1em;
  padding: .65rem 0;

  padding-left: 1rem;
  padding-right: 1rem;

  margin-left: auto;
  margin-right: auto;

  flex: 1;
}

.header * {
  margin: 0;
}

.headerInside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  max-width: calc(1440px + 12rem);
  margin: auto;
  width: 100%;
}

.headerCustom {
  width: 100%;
}

.headerCustom {
  display: flex;
  flex-direction: column;

  position: sticky;

  justify-content: center;
  align-items: center;
  width: 100%;

  color: #1c1e21;
  background-color: #ffffff;

  /* z-index: 100; */
  min-height: 4rem;
  height: fit-content !important;
  /* border-bottom: 2px solid rgba(255, 255, 255, 1); */
}

.headerCustom > div:not(:first-of-type) {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  max-width: calc(1440px + 12rem);

  height: 100%;
  width: 100%;

  padding: 1em;
  padding: .65rem 0;

  padding-left: 1rem;
  padding-right: 1rem;

  margin-left: auto;
  margin-right: auto;

  flex: 1;
}

.headerInsideCustom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;

  align-items: center;
  width: 100%;

  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 4rem;

  height: fit-content !important;
}

.headerInsideCustom > * {
  flex: 1 1;
  margin: 0;

  text-align: center;
}

.headerInsideCustom > h3 {
  text-align: left;
  width: fit-content;
}

.headerInsideCustom > div {
  text-align: right;
  justify-self: end;
}

div.headerProgress {
  padding: 0 !important;

  width: 100%;
  height: 5px;

  align-self: flex-start;

  margin: 0;

  opacity: 0;

  height: 2px;
  background: transparent;

  transition: width .4s linear .4s;
  transition: opacity .4s linear .4s;

  background: rgb(87,78,235);
  background: var(--gradient)
}

.linear {
  display: flex;
  flex-direction: row;

  align-items: center;

  gap: 15px;
}

.linear a {
  font-weight: 100;
}

.linear h5:hover {
  cursor: pointer;
}

.body {
  height: 100%;
  width: 100%;

  flex: 1;

  display: flex;
  flex-direction: column;
  padding: 5em;
  
  color: #f4f4f4;

  background: rgb(87,78,235);
  background: var(--gradient);
}

.body h1 {
  font-size: 4em;
}

.boxDiv {
  background-color: #ffffff;
  color: var(--font-color);

  border: 2px solid var(--border-color);
  border-radius: 5px;

  padding: 2em;
  transition: all .25s ease;

  display: flex;
  flex-direction: column;

  font-family: "Apercu";
}

:root[theme="dark"] .boxDiv {
  background-color: #0f0f12  !important;
}


/* .boxDiv:hover {
  box-shadow: 0px 8px 22px 0px var(--border-color); */
  /* background-color: var(--border-color);
} */

.boxDiv h4 {
  margin: 0;
  margin-bottom: .5rem;
  font-weight: 400;

  font-family: "Apercu";
}

.boxDiv h1 {
  font-size: 1.6em;
  font-weight: 400;
  margin: 0;
}

.boxDiv > div {
  display: flex;
  flex-direction: row;
  width: 100%;

  justify-content: space-between;
  padding: 1rem;
}

.boxProgress {
  align-items: center;
}

.boxProgress h5 {
  margin: .5rem;
}

.boxDiv > div > div:not(:first-of-type) {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-end;
}

.boxDiv > div > button:first-of-type {
  border: none;
  background-color: transparent;

  color: #0070f3;
}

.boxDiv > div:last-of-type {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
  gap: 1rem;
}

.progressBar {
  max-width: 250px;
  background-color: rgba(28, 30, 33, 0.1);
  background-color: var(--background-color-alt);

  height: 15px;
  width: 8vw;

  border-radius: 55px;

  width: 7.5rem;
  height: .5rem!important;
  border-radius: 5rem!important;

  overflow: hidden;
}

.progressBar > div {
  background-color: #0070f3;
  height: 100%;

  border-radius: 55px;
}

.fullScreen {
  width: 100%;
  height: 100%;

  flex: 1;

  border-top: 2px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--font-color);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullScreen2 {
  width: minmax(auto, 40%);
  height: 100%;

  padding-bottom: 5rem;
  flex: 1;

  /* border-top: 2px solid var(--border-color); */
  background-color: var(--background-color);
  color: var(--font-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.courseSylibus {
  padding: 5rem;
  text-align: center;

  padding: 5rem;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 8rem;
}

.courseSylibus h1 {
  margin: 0rem !important;
  text-align: center;
}

.fullScreen2 h1 {
  font-weight: 400;
  margin: 5rem;
}

.coursesOverview {
  display: flex;
  flex-wrap: wrap;
  
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  gap: 2rem;

  width: 70%;
  height: 100%;
}

.coursesOverview div {
  display: flex;
  flex-direction: column;

  align-items: center;

  border: 2px solid var(--border-color);
  border-radius: 5px;
  padding: .7rem 1rem;

  max-width: 30%;
  min-width: 30%;

  user-select: none;

  background-color: #1c1e21;
}

.coursesOverview div:hover {
  transform: translate3d(0, -3px, 0);
  cursor: pointer;
}

.coursesOverview div h2 {
  font-size: 2.5rem;
}

.coursesOverview div h4 {
  margin: 0;
  font-weight: 100;
  font-size: 1.1rem;
}

.courseSylibusOverview {
  display: flex;
  flex-wrap: wrap;
  
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  gap: 2rem;

  width: 70%;
  height: 100%;

  padding: 0rem 0rem 3rem 0rem;
}

.lessonOverviewParent {
  width: 100%;
}

.lessonOverview {
  width: 100%;
  border: 2px solid var(--border-color);

  padding: 1rem 2rem;
  border-radius: 5px;
  /* box-shadow: rgba(103, 103, 103, 0.2) 0px 0px 15px; */
  background-color: var(--background-color-alt);
}

.lessonOverviewBlue {
  background-color: #021423;

  width: 100%;
  border: 2px solid #051927;

  padding: .8rem 2rem;
  border-radius: 5px;

  transition: .55s ease all;
  font-size: 1rem;
}

.lessonOverviewBlue:hover {
  background-color: #04131f;
  border-color: #051927;
  cursor: pointer;
}

.lessonSylabusOverview {
  flex: 1;
  padding: 1rem;

  gap: 1rem;
  display: flex;

  flex-direction: column;
}

/* .lessonOverview:hover {
  width: 100%;
  border: 2px solid var(--background-color);

  padding: 1rem 2rem;
  border-radius: 5px;

  color: #676767;
  background-color: var(--background-color-alt);
} */

.lessonOverviewSubLessons {
  background-color: var(--background-color-alt);
  margin-left: 5%;
  margin-right: 5%;

  padding: .5rem 2rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media only screen and (min-width: 75rem) {
  .insideFullScreen {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
  }

  .header > div {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

.insideFullScreen {
  max-width: calc(1440px + 12rem);

  height: 100%;
  width: 100%;

  padding-left: 1rem;
  padding-right: 1rem;

  padding-top: 4rem;
  padding-bottom: 4rem;

  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: 1fr 35%;
  grid-template-rows: 1fr auto;

  gap: 15px;
  row-gap: normal;
}

.insideFullScreen > div {
  height: 100%;
}

.insideFullScreen > div > h2 {
  font-family: 'Apercu';
  font-weight: 500;

  color: var(--font-color);
  padding: 1rem 0rem;
  margin: 0;
}

.progress {
  display: flex;
  flex-direction: column !important;

  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;

  flex: 1;
  justify-content: flex-start !important;
}

.progress h4 {
  background-color: rgba(28, 30, 33, 0.1);
  background-color: var(--background-color-alt);

  width: 100%;
  padding: 1rem;

  font-weight: 300;

  color: var(--font-color);
  font-weight: 600;
}

.progress > div {
  padding: 1rem;

  gap: .5rem;
  display: flex;
  flex-direction: column;
}

.progress > div div {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 1rem;

  font-weight: 100 !important;
}

.progress > div div * {
  font-weight: 500;
  font-size: .875rem;
}

.progress > div div p {
  color: var(--font-color) !important;
  opacity: .8;

  font-family: "Apercu";
}

.progress > div div.active h3 {
  font-weight: 400 !important;
}

.progress * {
  margin: 0;
}

.progress h5 {
  font-weight: 400 !important;
  font-family: "Apercu";

  margin-right: 2rem;
}

.circle {
  background-color: rgba(63, 87, 243, 0.1);
  border-radius: 50%;
  border: 2px solid transparent;

  padding: .3rem;

  position: relative;

  width: 2rem;
  height: 2rem;
  justify-content: center;
}

.circle:before {
  content: "";
  position: absolute;

  background-color: rgba(87, 78, 235,.2);

  content: '';
  position: absolute;
  top: calc(-.5rem - 2px);

  left: 50%;
  height: .5rem;
  width: 1px;
}

.first .circle:before {
  content: "";
  position: absolute;

  background-color: rgba(87, 78, 235,.2);

  content: '';
  position: absolute;
  top: calc(-1rem - 2px);

  left: 50%;
  height: 1rem;
  width: 1px;
}

.active .circle {
  background-color: rgba(63, 87, 243, 1);
  border-color: transparent;
  color: rgba(255, 255, 255, 1) !important;
}

.active .circle h6 {
  color: #ffffff;
}

.active p {
  font-weight: 600 !important;
}

.active h5 {
  font-weight: 600 !important;
}

.circle h6 {
  color: rgba(63, 87, 243, 0.5);
  opacity: 1;
}

.headerTitle {
  position: relative;
  z-index: 2;

  transition: .2s ease all;

  user-select: none;
}

.headerTitle:after {
  transition: .2s ease all;
}

.headerImage {
  height: 2rem;
  width: 2rem;

  border-radius: 50%;
}

@keyframes easeIn {
  from {width: 0%;}
  to {width: 100%}
}

@keyframes easeOut {
  to {width: 0%}
}

.headerTitle:hover {
  cursor: pointer;
}

.headerTitle:hover:after {
  animation: easeIn .2s cubic-bezier(0.075, 0.82, 0.165, 1);

  content: "";
  position: absolute;

  bottom: 0%;
  left: 0;

  opacity: 1;

  z-index: -1;

  width: 100%;
  height: 2px;

  background: rgb(87,78,235);
  background: var(--gradient);
}

.headerTitle:after {
  content: "";
  position: absolute;

  border-radius: 55px;

  bottom: 0%;
  left: 0;

  opacity: .5;

  z-index: -1;

  width: 0%;
  height: 2px;

  background: rgb(87,78,235);
  background: var(--gradient)
}

.signinBubble {
  border: 2px solid rgba(255,255,255,.15);
  background-color: rgba(255,255,255,.1);
  border-radius: 5px;

  padding: 1.2rem;
  width: 25%;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  gap: .7rem;

  align-self: flex-start;
  justify-self: flex-end;

  transition: all .4s ease forwards;
  animation: antiFlow .4s ease forwards;
}

.signinBubble * {
  margin: 0;
  font-family: Apercu;
  line-height: 1.1rem;
}

.signinBubble h3 {
  font-weight: 600;
  font-size: 1.2rem;
}

.signinBubble h2 {
  font-weight: 400;
  font-size: .875rem; 
}

.signinBubble svg {
  width: 10%;
  overflow: hidden;
}

.signinBubble:hover {
  cursor: pointer;

  background-color: rgba(255,255,255,.05);
  border-color: rgba(255,255,255,.1);
}

.signinBubble:hover  {
  width: 26%;
}

/* .signinBubble:hover h2 {
  color: rgba(255, 255, 255, .6);
}

.signinBubble:hover h3 {
  color: rgba(255, 255, 255, .6);
} */

.teaching {
  display: flex;
  flex-direction: column !important;

  align-items: flex-start;
  flex: 1;
}

.teaching i {
  font-weight: 400;
  font-family: "Apercu";
  font-size: 1rem;
  margin: 0;

  font-style: normal;
}

.teaching h1 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: .5rem;
}

.teaching h1 strong {
  font-size: 3rem;
}

.teachingStat {
  background-color: rgba(28, 30, 33, 0.1);
  width: 100%;
  padding: 1rem;

  font-weight: 300;
  align-items: flex-start !important;
  margin: 0 !important;
}

.teachingStat h5 {
  font-weight: 300 !important;
  margin: 0 !important;
}

.codeGrid {
  display: grid;
  grid-template-rows: 4rem auto 4rem;
  background-color: rgb(1, 14, 23);
  height: 100vh;
}

.codeGrid > div:first-of-type {
  height: 4rem;
}

.codeGrid > div:last-of-type {
  height: 4rem;
}

.learnInterface {
  display: flex;
  flex-direction: column;
  position: relative;

  z-index: 0;
  width: 100%;
  min-height: 100vh !important;
  overflow: hidden;
}

.codeGrid > div:last-of-type {
  padding: 0rem 5px;
}

.codeGrid span {
  font-family: 'Apercu';
  
  color: inherit;
  font-size: inherit;
}

.codeDesc {
  font-size: 1.1rem;
  line-height: 1.5;

  transition: 0s ease all !important;
}

.codeDesc * {
  transition: 0s ease all !important;
}

.widthContent {
  transition: 0s ease all !important;
}

.widthContent * {
  transition: 0s ease all !important;
}

.codeInterface {
  transition: 0s ease all !important;
}

.codeInterface * {
  transition: 0s ease all !important;
}

.ace_line {
  line-height: normal;
}

.codeGrid svg {
  max-height: 15px;
  height: 100%;
  font-weight: 100;
}

.headerCustom {
  background-color: rgb(1, 14, 23);
  color: #f4f4f4;
}

.codeInterface {
  display: grid;

  grid-template-columns: 1fr 1.75fr;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.codeFooter {
  display: grid;

  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #010e17;
}

.codeDesc {
  background-color: rgba(255,255,255,1);

  overflow-y: auto;
  flex: 1 1;

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

.codeDesc > div {
  padding: 1rem;
  height: 800px;
}

.codeDesc h3 {
  font-weight: 600;
  font-family: "Apercu";
  font-size: .875rem;
  opacity: .6;
}

.codeDesc h2 {
  font-weight: 400;
  font-family: "Apercu";
  font-size: 1.8rem;
  opacity: 1;

  margin-top: 0;
}

.codeDesc h4 {
  background-color: rgba(28, 30, 33, 0.1);
  width: 100%;
  padding: 1rem;
  font-weight: 300;
  color: #10162f;
  font-weight: 400;
  margin: 0;

  display: flex;
  gap: 15px;
  align-items: center;
}

.linearDark {
  display: flex;
  flex-direction: row;

  align-items: center;

  padding-left: 1rem;
  padding-right: 1rem;

  gap: 15px;
  color: #f4f4f4;
  background-color: #010e17;
}

.dark {
  color: #f4f4f4;
  background-color: #051927;
}

.linearDark h4 {
  user-select: none;
}

.linearDark h4:hover {
  cursor: pointer;
}

.vertical {
  height: 100%;
  display: flex;
  flex-direction: column !important;

  justify-content: flex-start !important;

}

/* .lessonSelector {
  position: absolute;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;
} */

.blackOut {
  background-color: rgba(15, 30, 52, .9);

  width: 100%;
  height: 100%;

  left: 0;
  right: 0;
  position: fixed;

  z-index: 50;
}

.normalOut {
  display: none;
}

.normal {
  display: flex;
}

.consolePage {
  background-color: black;
}

.lessonSelect {
  z-index: 100;

  position: absolute;

  width: 35%;
  height: 100%;

  left: 0;

  background-color: #010e17;
  color: #eaeaea;
  display: block;

  padding: 1rem;

  transform: translate3d(0, 0, 0); 
  animation: slideIn .2s ease;
}

.lessonsHidden {
  z-index: 100;

  position: absolute;

  width: 40%;
  height: 100%;

  left: 0;

  background-color: #010e17;
  color: #eaeaea;

  padding: 1rem;

  transform: translate3d(-100%, 0, 0); 
  animation: slideOut .2s ease;
}

@keyframes slideIn {
  0% {
    transform: translate3d(-100%, 0, 0);
    background-color: white !important;
  } 100% {
    transform: translate3d(0%, 0, 0); 
  }
}

@keyframes slideOut {
  100% {
    transform: translate3d(-100%, 0, 0);
    background-color: white !important;
    display: block;
  } 0% {
    transform: translate3d(0%, 0, 0); 
    display: block;
  }
}

.lessonSelect h5 {
  font-size: 2rem;

  font-weight: 400;
  margin-top: 0;

  padding-bottom: 1.2rem;
  margin-bottom: 0;
}

.lessonsHidden h5 {
  font-size: 2rem;
  font-weight: 400;

  margin-top: 0;
}

.lessonsHidden > div {
  height: 100%;
}

.lessonsHidden h3 {
  margin: 0;
}

.lessonSelect > div {
  height: 100%;
}

.subClasses h3 {
  margin: 0;

  margin-top: 2rem;
}

.subClasses > form > button {
  width: 100%;
}

.subClasses > form > div {
  flex: 1;
}

.subClasses > form {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  height: 100%;
}

.subClasses {
  /* background-color: rgba(255,255,255,.02); */
  border-radius: 15px;

  padding: 1rem 2rem;
  height: 100%;
  flex: 1;

  position: relative;
  display: flex;
  flex-direction: column;
}

.subClasses h2 {
  font-weight: 800;
  font-family: "Apercu";
  font-size: 1.8rem;
  opacity: 1;
  text-transform: uppercase;
  font-size: 1rem;
  opacity: .5;
} 

.subClasses h3 {
  margin-bottom: 1rem;
}

.lessonList {
  display: flex;
  flex-direction: column;

  gap: 15px;
}

.exc {
  background-color: rgba(255,255,255,.02);
  border-radius: 15px;

  padding: 1rem 2rem;
  border: 2px solid rgba(var(--border-color-rgb), 0.1);
}

.exc:hover {
  background-color: rgba(255,255,255,.03);
  cursor: pointer;
  border: 2px solid rgba(var(--border-color-rgb), 0.3);
}

.navigationBottom {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  align-items: center;
  color: #eaeaea;

  font-size: 1rem;
}

.navigationBottom h3 {
  font-size: 1rem;
  font-weight: 100;
}

.navigationBottom button {
  height: fit-content;
  width: 18%;
}

.navigationBottom button:first-of-type {
  background-color: transparent;
  border: 1px solid #eaeaea;
}

.createCode {
  display: grid;
  width: 100%;

  grid-template-columns: minmax(15%, 250px) 1fr;
  grid-template-rows: 100%;

  flex: 1;
}

.courseSelector {
  border: 2px solid rgba(255,255,255,.15);
  background-color: rgba(255,255,255,.1);
  border-radius: 5px;

  padding: 1.2rem;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  gap: .7rem;

  align-self: flex-start;
  justify-self: flex-end;

  transition: all .4s ease forwards;
  animation: antiFlow .4s ease forwards;
  
  width: 100%;
}

.refrence {
  padding: 1rem 1rem;

  background-color: #04131f;
  gap: 15px;
  display: flex;
}

.centerExpand {
  flex: 1;

  gap: 15px;
  display: flex;
  flex-direction: column;

  padding: 1rem;
  user-select: none;
}

.centerExpand > div > div:first-of-type {
  border: 2px solid rgba(255,255,255,.15);
  background-color: rgba(255, 255, 255, 0.041);
  border-radius: 5px;

  padding: .8rem 1rem;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  gap: .7rem;

  align-self: flex-start;
  justify-self: flex-end;

  transition: all .4s ease forwards;
  animation: antiFlow .4s ease forwards;
  
  width: 100%;
}

.centerExpand > div > div:first-of-type:hover {
  border: 2px solid rgba(255, 255, 255, 0.363);
  background-color: rgba(255, 255, 255, 0.185);

  cursor: pointer;
}

.collectionArr {
  display: flex;
  flex-direction: column;

  gap: 5px;
  padding-top: 1rem;

  height: 100%;
  overflow: hidden;

  transition: 0s ease padding;
}

.footer {
  padding: 5% 0 2%;
  /* padding: 1rem 20%; */

  background-color: var(--background-color);
  color: var(--font-color);
}

.footer > div {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  flex-flow: row wrap;

  margin: 0 auto;
  max-width: 1240px;
  padding: 0 2.5%;

  gap: 10rem;
}

.footer > div > div {
  min-width: 10vw;
}

.footer h1 {
  font-family: "Inter";
  font-weight: 100;
}

.footerContent {
  display: flex;
  flex-direction: row;

  gap: 5rem;
}

.footer h3 {
  font-weight: 100;
  font-size: 1.2em;
}

.textEditor {
  border: 2px solid rgba(255,255,255,.15);
  background-color: #f4f4f4;
  border-radius: 5px;

  padding: .8rem 1rem;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  gap: .7rem;

  align-self: flex-start;
  justify-self: flex-end;

  transition: all .4s ease forwards;
  animation: antiFlow .4s ease forwards;
  
  width: 100%;
  height: 100%;
}

.textEditor > div {
  height: 100%;
  width: 100%;

  flex: 1;
}

/* .textEditor > div * {
  height: 100%;
  width: 100%;
} */

.createWindow {
  height: 100%;
  width: 100%;

  padding: 1rem;
}

.createWindow > div {
  height: 100%;
  width: 100%;
}

.changeDefault {
  border: 2px solid rgba(255,255,255,.05);
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 5px;

  padding: .8rem 1rem;
  margin: 0;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;


  align-self: flex-start;
  justify-self: flex-end;
  
  width: 100%;
  font-size: .9rem;
}

.changeDefault:hover {
  cursor: pointer;
}

.changeDefault * {
  margin: 0;
}

.changeActive {
  border: 2px solid rgba(255,255,255,.15);
  background-color: rgba(255, 255, 255, 0.041);
}

.editingContent {
  padding: 10px;
  background-color: #f4f4f4;

  border-radius: 5px;
  color: #021423;

  height: 100%;
  
  display: flex;
  flex-direction: column;

  font-family: 'Apercu' !important;
}

.editingContent input {
  padding: 1rem .5rem;

  font-size: 2rem;
}

.editor {
  border-radius: 5px;
  background-color: #eaeaea;

  height: 100%;
}

.editor > div:not(:first-of-type) {
  padding: 1rem;
}


/* .editingContent > div:first-of-type {
  flex: 1;
} */

/* .editingContent > div > div {
  height: 100%;
} */

/* .editingContent > div > div > div {
  height: 100%;
}

.editingContent > div > div > div > div {
  height: 100%;
} */

.borderRadius {
  border-radius: 7px;
  overflow: hidden;
}

.syncStatusFalse {
  font-weight: 100;
  padding: .5rem 1rem;
  background-color: rgb(209 22 22 / 10%);
  border-radius: 5px;
  color: rgb(255 112 112);
  -webkit-font-smoothing: antialiased;
}

.syncStatusTrue {
  font-weight: 100;
  padding: .5rem 1rem;
  background-color: rgb(22 209 83 / 10%);
  border-radius: 5px;
  color: rgb(172 255 129);
  -webkit-font-smoothing: antialiased;
}

.overlayVisible {
  height: 100%;
  width: 100%;

  position: absolute;
  background-color: #010e17;
  color: #f4f4f4;

  z-index: 900;
  animation: overlayIn .55s ease;
}

.overlayInvisible {
  display: none;
  animation: overlayOut .55s ease;
}

@keyframes overlayIn {
  from {width: 0%;}
  to {width: 100%}
}

@keyframes overlayOut {
  to {width: 0%}
}

.activeRadialInput {
  border: 1.5px solid rgba(var(--border-color-rgb), 0.4) !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: #f4f4f4 !important;
}

.radialInput {
  padding: 1rem;
  display: flex;
  flex-direction: row-reverse;
  color: rgba(255, 255, 255, 0.363);
  font-size: 13.333px;
  font-weight: 100;

  font-family: 'stolzl';

  justify-content: space-between;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.0141);
  border: 2px solid rgba(var(--border-color-rgb), 0.015);
  border-radius: 5px;

  height: fit-content;

  padding: 10px;
  border-radius: 5px;

  display: flex;

  align-items: center;
  justify-content: space-between;

  border: 1.5px solid rgba(255,255,255,.1);
  background-color: rgba(255,255,255,.02);

  width: 100%;

  user-select: none;
}

.radialInput input {
  padding: 10px;
}

.createInputRadial {
  margin: 0;

  border: none;
  visibility: hidden;
}

.multiChoice {
  display: flex;

  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
}

.widthContent {
  width: 100%;
  flex: 1;
  background-color: #f4f4f4;
  overflow-y: scroll;
}

.widthContent > div {
  padding: 1rem;
  width: 40%;
  margin: auto;
}

.adminCourses {
  display: flex;
  flex-direction: row;

  justify-content: space-between !important;
}

.adminButtons {
  display: flex;
  flex-direction: row !important;

  justify-content: space-between !important;
  align-items: center !important;

  gap: 15px;
  width: auto;
}

.adminButtons button:first-of-type {
  border: none;
  background-color: transparent;
  color: #0070f3;
}